.item.active
  - (0..(last_index)).each do |index|
    .col-md-3
      - if (not products[index].blank?)
        - if (not products[index].shop_product.blank?)
          = render "partials/products/featured_single_product_list", container: products[index].shop_product
        - elsif (not products[index].consumer_profile_product.blank?)
          = render "partials/products/featured_single_product_list", container: products[index].consumer_profile_product
      - else
        .product-image-wrapper
          .featured-single-products
            = image_tag(image_path("#{Defaults::PRODUCT_ADVERTISEMENT_PLACEHOLDER}"))