%a.left.recommended-item-control{"data-slide" => "prev", :href => "#featured-products-carousel"}
  %i.fa.fa-angle-left
%a.right.recommended-item-control{"data-slide" => "next", :href => "#featured-products-carousel"}
  %i.fa.fa-angle-right
    / /recommended_items