= bootstrap_nested_form_for @product do |product|
  .row
    .col-sm-12
      = product.text_field :name, autofocus: true, class: 'simple-tooltip', title: 'Give product name. This will be desplayed everywhere even in search results.'
      = product.text_area :description, class: 'simple-tooltip', title: 'Proper description can inscrease your sell. The same way, if you give wrong information about your product you can loose your customers.'
      .row
        .col-sm-12
          %h2
            Product Specifications
          #product_specifications.row
            = product.fields_for :product_specifications, :wrapper => false do |product_specification|
              .col-sm-6
                = render 'partials/product_specifications/nested_form', product_specification: product_specification
        .col-sm-12.col-center-block
          .button-group
            = product.link_to_add :product_specifications, :class => "add_nested_fields btn btn-primary btn-raised", :data => { :target => "#product_specifications" } do
              %i.mdi-content-add-box
              Add product specification
      = product.text_field :price_including_vat, class: 'simple-tooltip', title: 'Give a price for your product so that user can know the price of product and can take decision to buy from you and no one else.'
      = product.text_field :vat_percent, value: Vat::PRODUCT_VAT, class: 'simple-tooltip', title: 'You can give the parcentage of vat or keep it as it is. As you required.'
      = product.text_field :stock, class: 'simple-tooltip', title: 'Number of stocked product.'
      = product.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }
      -#= product.collection_select :tag_list, Product.get_tags, :name, :name, {selected: @product.tags.map(&:name)}, {:multiple => false}

  .row
    .col-sm-12
      %h2
        Product Photos
      #product_pictures.row
        = product.fields_for :product_pictures, :wrapper => false do |product_picture|
          .col-sm-6
            = render 'partials/product_pictures/nested_form', product_picture: product_picture
    .col-sm-12.col-center-block
      .button-group
        = product.link_to_add :product_pictures, :class => "add_nested_fields btn btn-primary btn-raised", :data => { :target => "#product_pictures" } do
          %i.mdi-content-add-box
          Add product pictures

  .row
    .col-sm-12
      %h2
        Product Attachments
      #product_attachments.row
        = product.fields_for :product_attachments, :wrapper => false do |product_attachment|
          .col-sm-6
            = render 'partials/product_attachments/nested_form', product_attachment: product_attachment
    .col-sm-12.col-center-block
      .button-group
        = product.link_to_add :product_attachments, :class => "add_nested_fields btn btn-primary btn-raised", :data => { :target => "#product_attachments" } do
          %i.mdi-content-add-box
          Add product document as attachment

  .row
    .col-sm-12.col-center-block
      .button-group
        = product.submit(value='Create Product', class: 'btn btn btn-primary btn-raised')