.item
  - products.each do |product|
    .col-md-3
      - if (not product.shop_product.blank?)
        = render "partials/products/featured_single_product_list", container: product.shop_product
      -elsif (not product.consumer_profile_product.blank?)
        = render "partials/products/featured_single_product_list", container: product.consumer_profile_product