- unless products.blank?
  / products
  - products.each do |product|
    .col-sm-2
      - if (not product.shop_product.blank?)
        = render 'partials/products/single_product_list', container: product.shop_product
      - elsif (not product.consumer_profile_product.blank?)
        = render 'partials/products/single_product_list', container: product.consumer_profile_product
- else
  .col-md-12
    There is no product at this moment!