#reviews.tab-pane.fade.active.in
  .col-sm-12
    %p
      - product.comment_threads.each do |comment|
        = render 'partials/comments/view', comment: comment
        %br

    %p
      %b Write Your Review
      = render 'partials/comments/form'