.product-image-wrapper
  .single-products
    .productinfo
      -#.text-center
      - if (container.product.product_pictures.cover_image.first) && (container.product.product_pictures.cover_image.first.picture?)
        = link_to image_tag(container.product.product_pictures.cover_image.first.picture_url(:thumb)), product_path(container.product)
      - else
        = link_to image_tag(image_path("#{Defaults::NO_IMAGE}")), product_path(container.product)
    -#.product-overlay
    .text-center
      .overlay-content
        %h5= link_to truncate(container.product.name, :length => Defaults::PRODUCT_NAME_LENGTH_TILL), product_path(container.product)
        %p= "#{container.product.price_including_vat} #{CurrencyUnits::BANGLADESHI_TAKA}"
        - if user_signed_in? && policy(container.product).edit?
          = link_to "Edit", edit_product_path(container.product)