#tag.tab-pane.fade
  .col-sm-3
    .product-image-wrapper
      .single-products
        .productinfo.text-center
          %img{:alt => "", :src => "images/home/gallery1.jpg"}
            %h2 $56
            %p Easy Polo Black Edition
            %button.btn.btn-default.add-to-cart{:type => "button"}
              %i.fa.fa-shopping-cart>
              Add to cart
  .col-sm-3
    .product-image-wrapper
      .single-products
        .productinfo.text-center
          %img{:alt => "", :src => "images/home/gallery2.jpg"}
            %h2 $56
            %p Easy Polo Black Edition
            %button.btn.btn-default.add-to-cart{:type => "button"}
              %i.fa.fa-shopping-cart>
              Add to cart
  .col-sm-3
    .product-image-wrapper
      .single-products
        .productinfo.text-center
          %img{:alt => "", :src => "images/home/gallery3.jpg"}
            %h2 $56
            %p Easy Polo Black Edition
            %button.btn.btn-default.add-to-cart{:type => "button"}
              %i.fa.fa-shopping-cart>
              Add to cart
  .col-sm-3
    .product-image-wrapper
      .single-products
        .productinfo.text-center
          %img{:alt => "", :src => "images/home/gallery4.jpg"}
            %h2 $56
            %p Easy Polo Black Edition
            %button.btn.btn-default.add-to-cart{:type => "button"}
              %i.fa.fa-shopping-cart>
              Add to cart