- unless products_containers.blank?
  / products
  - products_containers.each do |product_container|
    .col-sm-2
      - if (not product_container.product.blank?)
        = render 'partials/products/single_product_list', container: product_container
- else
  .col-md-12
    There is no product at this moment!