.row
  .col-md-12
    - if @product_picture.picture?
      = image_tag(@product_picture.picture_url, class: 'curved img-responsive col-center-block')
    - else
      = image_tag(image_path("#{Defaults::NO_IMAGE}"), class: 'curved img-responsive col-center-block')
