%section#form
  / form
  .container
    .row
      .col-sm-4.col-sm-offset-4
        .signup-form
          / sign up form
          %h2
            Edit #{resource_name.to_s.humanize}
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            = f.select :role_name, options_for_select([[Roles::CONSUMER_TEXT, Roles::CONSUMER], [Roles::DEALER_TEXT, Roles::DEALER]], params[:role_name])
            = f.text_field :email, placeholder: "E-mail", autofocus: true, class: 'simple-tooltip', title: "Type your email address, we will send any future instruction to this email address."
            = f.text_field :username, placeholder: "User name", autofocus: true, class: 'simple-tooltip', title: "Type your user name. You can use it to login to the system."
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            = f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)", class: 'simple-tooltip', title: "Type your Password (leave blank if you don't want to change it)."
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-confirm password", class: 'simple-tooltip', title: "Re-type your password to confirm."
            = f.password_field :current_password, autocomplete: "off", placeholder: "Current password (we need your current password to confirm your changes)", class: 'simple-tooltip', title: "Type your current password."
            = f.submit "Update", class: "btn btn-default"

          %h3 Cancel my account
          %p
            Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
          = link_to "Back", :back