%section#form
  / form
  .container
    .row
      .col-sm-4.col-sm-offset-4
        .signup-form
          / sign up form
          %h2 Sign up
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            = f.select :role_name, options_for_select([[Roles::CONSUMER_TEXT, Roles::CONSUMER], [Roles::DEALER_TEXT, Roles::DEALER]], params[:role_name])
            = f.text_field :email, placeholder: "E-mail", autofocus: true, class: 'simple-tooltip', title: "Type your email."
            = f.text_field :username, placeholder: "User name", class: 'simple-tooltip', title: "Type your user name."
            - if @minimum_password_length
              = f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimum)", class: 'simple-tooltip', title: "Type password with minimum characters. Choose something unique which you can remember and no one can guess."
            - else
              = f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'simple-tooltip', title: "Type password. Choose something unique which you can remember and no one can guess."
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-confirm password", class: 'simple-tooltip', title: "Re-fonfirm previous password."
            = f.submit "Sign up", class: "btn btn-success"
            = render "devise/shared/links"


