%h1
  Update Shop
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title
            = @shop.name
        .panel-body
          = render 'partials/shops/form'