%h1
  Shops
- unless @shops.empty?
  .row
    .features_items
      = render 'partials/shops/shops_listing', shops: @shops

    .col-sm-12
      #paginator
        = paginate @shops, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-lg"
- else
  No shop available!