%div
  %div.relative-position
    - if @shop.cover_photo?
      = image_tag(@shop.cover_photo, class: 'cover-photo-img-responsive', style: 'max-height: 358px;')
    - else
      = image_tag(image_path("#{Defaults::NO_COVER_PHOTO}"), class: 'cover-photo-img-responsive', style: 'max-height: 358px;')
    %div.info-container
      - if @shop.picture?
        = image_tag(@shop.picture_url(:logo), class: 'shop-logo-img-responsive')
      - else
        = image_tag(image_path("#{Defaults::NO_LOGO}"), class: 'shop-logo-img-responsive')
      %h3.shop-name-responsive
        = @shop.name

  %div.social-share-button-position
    = social_share_button_tag(@shop.name)
#content
  = render 'partials/shops/tabbed_menu', shop: @shop
  = render 'partials/shops/tabbed_details', shop: @shop

- if (not @shop.latitude.blank?) && (not @shop.longitude.blank?)
  :javascript
    $('#contact-gmap-button').on('click', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
              {
                  lat: #{@shop.latitude},
                  lng: #{@shop.longitude},
                  infowindow: "#{@shop.name} <br /> #{@shop.address}"
              }
          ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(10);
      });
    });