= render 'partials/search/form', serach_term: @search_term
%h1
  Result(s)
- unless @pg_search_documents.blank?
  .row
    - @pg_search_documents.each do |pg_search_document|
      .col-sm-2
        - if pg_search_document.searchable.instance_of?(Product)
          .shop-image-wrapper
            .single-shops
              .shopinfo
                - if pg_search_document.searchable.product_pictures
                  - if pg_search_document.searchable.product_pictures.cover_image
                    - if pg_search_document.searchable.product_pictures.cover_image.first
                      - if (pg_search_document.searchable.product_pictures.cover_image) && (pg_search_document.searchable.product_pictures.cover_image.first.picture)
                        = link_to image_tag(pg_search_document.searchable.product_pictures.cover_image.first.picture_url(:thumb)), product_path(pg_search_document.searchable)
                      - else
                        = link_to image_tag(image_path("#{Defaults::NO_IMAGE}")), product_path(pg_search_document.searchable)
                .text-center
                  .title
                    %i
                      = link_to truncate(pg_search_document.searchable.name, :length => Defaults::PRODUCT_NAME_LENGTH_TILL), product_path(pg_search_document.searchable)
                  .details
                    =truncate(pg_search_document.searchable.description, :length => Defaults::PRODUCT_DESCRIPTION_LENGTH_TILL)

        - elsif pg_search_document.searchable.instance_of?(Shop)
          .shop-image-wrapper
            .single-shops
              .shopinfo
                - if pg_search_document.searchable.picture
                  = link_to image_tag(pg_search_document.searchable.picture_url(:thumb)), shop_path(pg_search_document.searchable)
                - else
                  = link_to image_tag(image_path("#{Defaults::NO_LOGO}")), shop_path(pg_search_document.searchable)
                .text-center
                  .title
                    %i
                      = link_to truncate(pg_search_document.searchable.name, :length => Defaults::SHOP_NAME_LENGTH_TILL), shop_path(pg_search_document.searchable)
                  - unless pg_search_document.searchable.business_types.blank?
                    .contact
                      %em
                        Type(s) of business:
                        %br
                        = pg_search_document.searchable.business_types.map { |business_type| business_type.name }.join ','
                  .details
                    =truncate(pg_search_document.searchable.description, :length => Defaults::SHOP_DESCRIPTION_LENGTH_TILL)
- else
  .row
    .col-sm-12
      No search result found!