= bootstrap_form_for Comment.new do |comment|
  = comment.text_field :subject, autofocus: true, class: 'simple-tooltip', title: "Comment subject"
  = comment.text_area :body, class: 'simple-tooltip', title: "Comment"
  = comment.hidden_field :commentable_id, value: @product.id
  = comment.hidden_field :commentable_type, value: @product.class.name
  .button-group
    = comment.submit(value='Submit', class: 'btn btn btn-primary btn-raised')