%h1= @business_profile.contact_person
- if user_signed_in? && policy(@business_profile).edit?
  = link_to "Edit", edit_business_profile_path(@business_profile)

%p
  = show_business_profile(@business_profile)

- unless @business_profile.shop.blank?
  .row
    .col-md-4
      %h2
        Your Products
  .row
    #products.features_items
      = render 'partials/products/user_products_listing', products_containers: @business_profile.shop.shop_products