= render "partials/index/slider"
- unless @shops.nil?
  .featured_shops
    / featured shops
    %h2.title Featured Shops
    %hr.text-underline
    #featured-shops-carousel.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner
        - if @shops.count < 4
          = render "partials/shops/carousel_inner_with_advertisement", shops: @shops, last_index: 3
        - else
          - @shops.each_slice(4).with_index do|slice, index|
            = render "partials/shops/carousel_inner", shops: slice, index: index

      = render "partials/shops/carousel_control"
- unless @products.nil?
  .featured_products
    / recommended_items
    %h2.title Featured Products
    %hr.text-underline
    #featured-products-carousel.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner
        - if @products.count < 4
          = render "partials/products/carousel_inner_with_advertisement", products: @products, last_index: 3
        - else
          - @products.each_slice(4).with_index do|slice, index|
            = render "partials/products/carousel_inner", products: slice, index: index

      = render "partials/products/carousel_control"

- unless @recent_shops.nil?
  %h2.title Recent shops
  %hr.text-underline
  .row
    .features_items
      = render 'partials/shops/shops_listing', shops: @recent_shops

- unless @recent_products.nil?
  %h2.title Recent products
  %hr.text-underline
  .row
    .features_items
      = render 'partials/products/products_listing', products: @recent_products