%h2 Forgot your password?
= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  -#.field
  -#  = f.label :email
  -#  %br/

  = f.email_field :email, autofocus: true, class: 'simple-tooltip', title: "Type your email."
  .actions
    = f.submit "Send me reset password instructions", class: "btn btn-success"
= render "devise/shared/links"
