%li.dropdown
  %a{:href => "#"}
    %i.fa.fa-user
    Account
    %i.fa.fa-angle-down
  %ul.sub-menu{:role => "menu"}
    = menu_by_user_role(user)
    %li
      = link_to(destroy_user_session_path, method: :delete) do
        %i.fa.fa-sign-out
        Sign out