%li
  = link_to(business_profile_path(user.profile.specific)) do
    %i.fa.fa-user
    = "#{user.username}'s profile"
%li
  = link_to(edit_business_profile_path(user.profile.specific)) do
    %i.fa.fa-pencil-square-o
    Edit profile

= shop_by_user_role(user)
= product_by_user_role(user)