%li
  = link_to(consumer_profile_path(user.profile.specific)) do
    %i.fa.fa-user
    = "#{user.username}'s profile"
%li
  = link_to(edit_consumer_profile_path(user.profile.specific)) do
    %i.fa.fa-pencil-square-o
    Edit profile

%li
  = link_to(user_products_path) do
    %i.fa.fa-list
    Products

%li
  = link_to(new_product_path) do
    %i.fa.fa-plus
    Add product