.container
  .row
    .col-sm-3
      .logo.pull-left
        = link_to(image_tag('autohuts.png'), root_url)
        %sup
          beta
    .col-sm-5
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .mainmenu
        %ul.nav.navbar-nav.collapse.navbar-collapse.navbar-top-padding
          %li
            = link_to(root_url) do
              %i.fa.fa-home
              Home
          %li
            = link_to(shops_path) do
              %i.fa.fa-shopping-cart
              Shops
          = user_menus(user_signed_in?, current_user)
          %li
            = link_to(contact_index_path) do
              %i.fa.fa-car
              Support
    .col-sm-4
      .search_box.pull-left.navbar-top-padding
        = render 'partials/search/site_search_form'