.header-middle
  .container
    .row
      .col-sm-12
        .mainmenu
          %ul.nav.navbar-nav.collapse.navbar-collapse
            - tags.each do | tag |
              %li
                = link_to tag.name, products_path(tag: tag.name)