/* Vars */



/* Responsive */
@media screen and (max-width: 950px) {
	html 				{ background-size: cover !important; }
	.container .error	{ width: 55% !important; }
}

/* Styling */
*  { margin: 0; }
html, body, .container { height: 100%; }
html {
	height: 100%;
	background: #010008 url(/assets/exception_handler/bg-1d2c48ae933e7e2dba1e8d70d91bc218bd2903993722b2b3a465d661abf6676e.jpg) top left no-repeat;
	background-size: 100% 100%;
}
body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	text-transform: capitalize;
}
body:before,
body:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
body:before{ background-image: url(/assets/exception_handler/noise-320d2608d5b2051fd4dba54aaa5d7726b4eac73641c2a016a7a2cc0a2bca8c31.png); background-repeat: repeat; }
body:after{ background-image: url(/assets/exception_handler/bg_overlay-d39620c464bfadffb648aced948ba971980fb55c98a1b386b06a15bd81eddb23.png); background-repeat: no-repeat; }

a { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }

.container {
	position: relative;
	min-height: 100%;
	overflow-y: hidden; /* Shouldn't need to have this */
	margin-bottom: -60.0px;
	z-index: 1100;
}

.container .error {
	display: block;
	margin: 10% auto 0;
	width: 25%;
	color: #000;
	text-align: center;
	overflow: hidden;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	border-radius: 5px;
	background-clip: padding-box;  

	-webkit-transition: width 0.15s ease-in-out;
	transition: 		width 0.15s ease-in-out;
}

.container .error img.alert {
	display: block;
	margin: 0 auto 20px auto;
}

.container .message > * { display: block; }
.container .message .title {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 0.85em;
	margin: 0;
	color: rgba(255,255,255,1);
	background: rgba(227,11,11,1);
	padding: 12px 15px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0,0,0,1);
	overflow-y: hidden;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a07ed+0,000000+100&amp;0+0,1+100 */ /* FF3.6+ */
	background: rgba(227,11,11,1) -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,11,11,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: rgba(227,11,11,1) -webkit-linear-gradient(top, rgba(227,11,11,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: rgba(227,11,11,1) -webkit-linear-gradient(top, rgba(227,11,11,0) 0%, rgba(0,0,0,0.4) 100%);
	background: rgba(227,11,11,1) linear-gradient(to bottom,  rgba(227,11,11,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a07ed', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.container .message .title:before,
.container .message .title:after {
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
}
.container .message .title:before {
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
	height: 100%;
	top: 0;
	background: url(/assets/exception_handler/overlay-b7145b94e6fde3894bef517d23099ad3e8ca548c25d05c9bbf3365f75fb75443.png) repeat;
	background-size: 100%;
}
.container .message .title:after  {
	height: 1px;
	background: rgba(255,255,255,0.1);
	bottom: 0px;
}
.container .message .title a.close {
	float: right;
	position: relative;
	top: 2px;
	right: -2px;
}
.container .message .title a.close img {
	width: 12px;

	-webkit-transition: opacity 0.15s ease-in-out;
	transition: 		opacity 0.15s ease-in-out;
}
.container .message .title a.close:hover img { opacity: 0.75; }



.container .message .details {
	position: relative;
	margin: 0;
	padding: 0;
	height: 310px;
	width: 100%;
	background-image: url(/assets/exception_handler/alert-9636df3b3631fe601888652de70b12e5f53233537a5c5495fc5054585da52744.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.container .message .details:before,
.container .message .details:after {
	display: block;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.container .message .details:after {
	height: 2px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;1+0,0+100 */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.container .message .details:before {
	height: 100%;
	outline-offset: -1px;
	outline: 1px solid rgba(255,255,255,0.1);
}
.container .message .details img {
	margin: 10% 0 0 0;
	padding: 0;
}
.container .message .details .status {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 1em 15px;
	font-size: 1.1em;
	font-weight: bold;
	background: rgba(0,0,0,0.5);
	text-align: left;
}

.container .message .info {
	display: block;
	padding-top: 15px;
	margin: auto;
	font-size: 0.75em;
	background: rgba(232,232,232,1);
}
.container .message .info > * {
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}
.container .message > .info h2 {
	margin: 10px 0;
	font-size: 1.75em;
	text-align: left;
}
.container .message > .info .notification {
	display: block;
	position: relative;
	clear: both;
	margin: 20px 0 0;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	background: rgba(205,205,205,1);
	border-top: 1px solid rgba(175,175,175,1);
}
.container .message > .info .notification > * 	 { vertical-align: middle; }
.container .message > .info .notification strong {
	display: inline-block;
	max-width: 75%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}
.container .message > .info .notification .version {
	display: inline-block;
	text-transform: lowercase;
	padding: 0 15px 0 0;
	margin: 0 10px 0 0;
	border-right: 1px solid rgba(175,175,175,1);
}
.container .message > .info .notification a.home {
	float: right;
	position: relative;
	right: -6px;
	opacity: 0.425;

	-webkit-transition: opacity 0.15s ease-in-out;
	transition: 		opacity 0.15s ease-in-out;
}
.container .message > .info .notification a.home:hover { opacity: 0.85; }
.container .message > .info .notification a.home img { height: 12px; }

/* Footer */
footer {
	display: block;
	position: relative;
	vertical-align: middle;
	clear: both;
	color: #fff;
	margin:  15px auto 0;
	padding: 14px 1%;
	box-sizing: border-box;
	max-height: 50;
	z-index: 1100;
}

footer .app  		{ text-transform: uppercase; }
footer .app strong  { font-size: 1em; letter-spacing: 1px; }
footer .app span    { font-size: 0.9em; }

footer .connect {
	display: block;
	float: right;
	clear: both;
	text-align: center;
}

footer .connect:hover a { opacity: 0.425; }
footer .connect a 		{
	display: inline-block;
	opacity: 0.595;
	padding-left: 4px;
	margin: 0 -1px; /* Use 0 -1px for inline block & ERB - HAML removes whitespace; ERB does now - http://haml.info/docs/yardoc/file.REFERENCE.html#whitespace_removal__and_ */
	-webkit-transition: opacity 0.2s ease;
	        transition: opacity 0.2s ease;
}

footer .connect a img 				{ display: block; vertical-align: middle; }
footer .connect a.facebook img 		{ height: 17.0px; }
footer .connect a.twitter  img		{ height: 17.0px; }
footer .connect a.linkedin img		{ height: 18.0px; }
footer .connect a.youtube  img		{ height: 17.5px; }
footer .connect a.fusion   img		{ height: 20px; }
footer .connect:hover a:hover 		{ opacity: 1; }
