%h1 Update profile
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title Update profile
        .panel-body
          = render 'partials/consumer_profiles/form'