%h1= @consumer_profile.name
- if user_signed_in? && policy(@consumer_profile).edit?
  = link_to "Edit", edit_consumer_profile_path(@consumer_profile)

%p
  Address:
  = @consumer_profile.address
  %br
  Phone:
  = @consumer_profile.phone
  %br
  Mobile:
  = @consumer_profile.mobile

.row
  .col-md-4
    %h2
      Your Products
.row
  #products.features_items
    = render 'partials/products/user_products_listing', products_containers: @consumer_profile.consumer_profile_products