.fields.panel
  .panel-heading
    .row
      .col-md-10
        %h2.panel-title
          Attach Document
      .col-md-2
        .pull-right
          = product_attachment.link_to_remove class: "remove_nested_fields" do
            %i.mdi-content-remove-circle-outline

  .panel-body
    .row
      .col-md-4
        .row
          .col-md-12
            = product_attachment.file_field :document, class: 'simple-tooltip', title: "Attachment file for your product. Ie. manual, specification etc in pdf format."
            = product_attachment.hidden_field :document_cache
      .col-md-4
        = product_attachment.text_field :name, class: 'simple-tooltip', title: 'Give a proper name so that consumer can undertand about your products document. ie. if its a manual, you can give a name, "manual" for that document. '
      .col-md-4
        - if product_attachment.object.document?
          .doc_label
            Document already uploaded as:
          = link_to product_attachment.object.name, product_attachment.object.document_url, :target => "_blank"
:javascript
    $.material.init();