- if index == 0
  = render "partials/product_pictures/active_product_logos", product_pictures: product_pictures
- else
  = render "partials/product_pictures/product_logos", product_pictures: product_pictures