= bootstrap_form_for @product_picture do |f|
  = f.text_field :caption, autofocus: true, class: 'simple-tooltip', title: 'Caption for the picture. To make the picture more understandable.'
  - if @product_picture.picture?
    = image_tag(@product_picture.picture_url(:thumb))
  - else
    = image_tag(image_path("#{Defaults::NO_IMAGE}"))
  = f.file_field :picture, class: 'simple-tooltip', title: 'Upload the picture.'
  = f.hidden_field :picture_cache
  = f.submit(value='Create Product Picture')