.fields.panel
  .panel-heading
    .row
      .col-md-10
        %h2.panel-title
          Product photo
      .col-md-2
        .pull-right
          = product_picture.link_to_remove class: "remove_nested_fields" do
            %i.mdi-content-remove-circle-outline

  .panel-body
    - if product_picture.object.picture?
      .row
        .col-md-12
          - if product_picture.object.picture?
            = image_tag(product_picture.object.picture_url(:thumb), class: 'curved img-block-shadow')
          - else
            = image_tag(image_path("#{Defaults::NO_IMAGE}"), class: 'curved img-block-shadow')
    .row
      .col-md-4
        .row
          .col-md-12
            = product_picture.file_field :picture, class: 'simple-tooltip', title: 'Upload the picture.'
            = product_picture.hidden_field :picture_cache
      .col-md-4
        = product_picture.text_field :caption, class: 'simple-tooltip', title: 'Caption for the picture. To make the picture more understandable.'
      .col-md-3
        = product_picture.check_box :cover_picture, class: 'simple-tooltip', title: 'You can make one photo as a cover photo, so that system can pick that photo in product listing page. Select one product photo as a cover photo for every product.'
      -#class: 'checkbox radio-primary'
      -#%img#preview-product-picture{src: '', alt: 'product photo preview', width: 400, height: 400}

:javascript
    $.material.init();