- if product_picture.picture?
  = link_to image_tag(product_picture.picture_url(:logo), class: 'curved'), product_picture_path(product_picture), :remote => true
- else
  = image_tag(image_path("#{Defaults::NO_IMAGE}"))