- if product_picture && product_picture.picture?
  .row
    .col-md-12
      .img-block
        = link_to image_tag(product_picture.picture_url(:thumb), class: 'img-block-shadow curved'), product_picture_show_large_path(product_picture), class: 'show-large'
    .row
      .col-md-12
        %p.caption.col-center-block
          = product_picture.caption
- else
  .row
    .col-md-12
      .img-block
        = image_tag(image_path("#{Defaults::NO_IMAGE}"), class: 'img-block-shadow curved')
    .row
      .col-md-12
        %p.caption.col-center-block
          No cover photo available!

:javascript
  $('.show-large').magnificPopup({type: 'ajax', closeOnContentClick: true, closeBtnInside: false})