.row
  .col-md-12
    .img-block
      - if (product.product_pictures.cover_image.first) && (product.product_pictures.cover_image.first.picture?)
        = link_to image_tag(product.product_pictures.cover_image.first.picture_url(:small), class: 'img-block-shadow curved'), product
      - else
        = image_tag(image_path("#{Defaults::NO_IMAGE}"))