.item.active
  - (0..(last_index)).each do |index|
    .col-sm-3
      - if(not shops[index].blank?)
        = render "partials/shops/featured_single_shop", shop: shops[index]
      - else
        .shop-image-wrapper
          .featured-single-shops
            = image_tag(image_path("#{Defaults::SHOP_ADVERTISEMENT_PLACEHOLDER}"))