%row
  .col-md-6
    %h1 Contact us
    %h2
      = shop.name
    %p
      =shop.description
    Address:
    %p
      = shop.address
    Mobile:
    = shop.mobile

  .col-md-6
    #map{:style => "width: 600px; height: 400px;"}