.shop-image-wrapper
  .featured-single-shops
    .shopinfo
      - if shop.picture?
        = link_to image_tag(shop.picture_url(:thumb)), shop_path(shop)
      - else
        = link_to image_tag(image_path("#{Defaults::NO_LOGO}")), shop_path(shop)
      .text-center.featured-single-shops-text-container
        %h4= link_to truncate(shop.name, :length => Defaults::SHOP_NAME_LENGTH_TILL), shop_path(shop)