%h1
  Products
- unless shop_products.empty?
  .row
    .col-sm-12.padding-right
      .features_items
        / products
        - shop_products.each do |shop_product|
          .col-sm-2
            = render 'partials/products/single_product_list', container: shop_product
- else
  No products available!