.shop-image-wrapper
  .single-shops
    .shopinfo
      - if shop.picture?
        = link_to image_tag(shop.picture_url), shop_path(shop)
      - else
        = link_to image_tag(image_path("#{Defaults::NO_LOGO}")), shop_path(shop)
      .text-center
        %h4= link_to truncate(shop.name, :length => Defaults::SHOP_NAME_LENGTH_TILL), shop_path(shop)
        - unless shop.business_types.blank?
          %em
            Type of business:
            %br
            = shop.business_types.map { |business_type| business_type.name }.join ','