#shop_tabs.tab-content
  #product.tab-pane.active
    = render 'partials/shops/product', shop_products: shop.shop_products
  #about.tab-pane
    = render 'partials/shops/about', business_profile: @shop.business_profile
  #contact.tab-pane
    = show_contact_information(@shop)