%ul#shop_tabs.nav.nav-tabs.exclude-container-fluid-mergin{"data-tabs" => "shop_tabs"}
  - if user_signed_in? && policy(shop).edit?
    %li.pull-right
      = link_to "Edit", edit_shop_path(shop)
  %li#contact-gmap-button.pull-right
    %a{"data-toggle" => "tab", :href => "#contact"} Contact
  %li.pull-right
    %a{"data-toggle" => "tab", :href => "#about"} About
  %li.active.pull-right
    %a{"data-toggle" => "tab", :href => "#product"} Products