= bootstrap_form_for serach_term, url: :search_result, method: :get do |st|
  .row
    .col-sm-12
      = st.text_field :term, autofocus: true, placeholder: "Search", class: 'simple-tooltip', title: 'Search for products or shops. Type the word and press enter button.'

  .row
    .col-sm-12.col-center-block
      .button-group
        = st.submit(value='Search', class: 'btn btn btn-primary btn-raised')