= form_for SearchTerm.new, url: :search_result, method: :get do |search_term|
  = search_term.text_field :term, autofocus: true, label: false, placeholder: "Search", class: 'simple-tooltip', title: 'Search for products or shops. Type the word and press enter button.'