%section#form
  / form
  .container
    .row
      .col-sm-4.col-sm-offset-4
        .login-form
          / login form
          %h2 Log in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.text_field :login, autofocus: true, placeholder: "E-mail or User name", class: 'simple-tooltip', title: "Your given user name or e-mail will be enough."
            = f.password_field :password, autocomplete: "off", placeholder: "Password", class: 'simple-tooltip', title: "Type your password."
            - if devise_mapping.rememberable?
              %span
                .field
                  = f.check_box :remember_me, class: 'simple-tooltip', title: "Check this button if you want to be remembered by system."
                  = f.label :remember_me

            = f.submit "Log in", class: "btn btn-success"
            = render "devise/shared/links"
