.row
  .col-sm-12
    = business_profile.text_field :contact_person, autofocus: true, class: 'simple-tooltip', title: "Full name of the contact person."
    = business_profile.text_field :helpline, class: 'simple-tooltip', title: "Help line."
    = business_profile.text_field :website, class: 'simple-tooltip', title: "Website url, if any"
    = business_profile.text_area :address, class: 'simple-tooltip', title: "Address of the office where people can contact."
    = business_profile.text_field :phone, class: 'simple-tooltip', title: "Phone"
    = business_profile.text_field :mobile, class: 'simple-tooltip', title: "Mobile"

  .row
    .col-sm-12.col-center-block
      #busines_profile_attachments.row
        = business_profile.fields_for :business_profile_attachments, :wrapper => false do |business_profile_attachment|
          .col-sm-6
            = render 'partials/business_profile_attachments/nested_form', business_profile_attachment: business_profile_attachment

  .row
    .col-md-12
      .button-group
        = business_profile.link_to_add :business_profile_attachments, :class => "add_nested_fields btn btn-primary btn-raised", :data => { :target => "#busines_profile_attachments" } do
          %i.mdi-content-add-box
          Add document as attachment
        = business_profile.submit(value='Update profile information', class: 'btn btn btn-primary btn-raised pull-right')