.row
  .col-sm-12
    = consumer_profile.text_field :name, autofocus: true, class: 'simple-tooltip', title: "Consumers' full name."
    = consumer_profile.text_area :address, class: 'simple-tooltip', title: "Address"
    = consumer_profile.text_field :phone, class: 'simple-tooltip', title: "Phone"
    = consumer_profile.text_field :mobile, class: 'simple-tooltip', title: "Mobile"
    = consumer_profile.submit(value='Update profile information', class: 'btn btn btn-primary btn-raised pull-right')