.row
  .col-md-6
    = shop.text_field :name, autofocus: true, class: 'simple-tooltip', title: "Put your original shop name here. This will be visible when someone enter the shop."
    = shop.text_field :sub_domain, class: 'simple-tooltip', title: "Choose your sub-domain. It will be applicable for your shop."
    = shop.text_area :description, class: 'simple-tooltip', title: "Describe about your shop. The more and appropiate description you will add, the more customer will visit to your shop."
    = shop.collection_select :business_type_list, Shop.get_business_types, :name, :name, {selected: @shop.business_types.map(&:name)}, {:multiple => true, :style => "width:100%;"}
  .col-md-6
    = shop.text_area :address, class: 'simple-tooltip', title: "Type address. User may like to buy directly from your shop!"
    = shop.text_field :mobile, class: 'simple-tooltip', title: "So that user can contact with the person who is available to the shop 24x7."
    = shop.text_field :trade_license, :label=>"Trade License", class: 'simple-tooltip', title: "It will be needed to varify your shop in near future."
    = shop.text_field :national_id, :label=>"National ID", class: 'simple-tooltip', title: "Shop owners personal identity."

  .row
    .col-sm-12.col-center-block
      #shop_attachments.row
        = shop.fields_for :shop_attachments, :wrapper => false do |shop_attachment|
          .col-sm-6
            = render 'partials/shop_attachments/nested_form', shop_attachment: shop_attachment

  .row
    .col-md-12
      = shop.file_field :cover_photo, class: 'simple-tooltip', title: "Upload cover photo for shop. It will needed in the fron-page of shop."
      = shop.hidden_field :cover_photo_cache
      - if @shop.cover_photo?
        = image_tag(@shop.cover_photo_url, class: 'img-responsive')
      - else
        = image_tag(image_path("#{Defaults::NO_IMAGE}"))

  .row
    .col-md-12
      = shop.file_field :picture, :label=>"Logo", class: 'simple-tooltip', title: "Upload logo of your shop/business."
      = shop.hidden_field :picture_cache
      - if @shop.picture?
        = image_tag(@shop.picture_url)
      - else
        = image_tag(image_path("#{Defaults::NO_IMAGE}"))

      - if @shop.id.nil?
        = shop.check_box :terms_conditions, :label=>"I agree to the #{link_to 'Terms and Conditions', terms_conditions_path, target: :_blank}.".html_safe, class: 'simple-tooltip', title: "You have to agree with the terms and conditions."

  .row
    .col-md-12
      .button-group
        = shop.link_to_add :shop_attachments, :class => "add_nested_fields btn btn-primary btn-raised", :data => { :target => "#shop_attachments" } do
          %i.mdi-content-add-box
          Add document as attachment
        = shop.submit(value='Create Shop', class: 'btn btn btn-primary btn-raised')