.fields.panel
  .panel-heading
    .row
      .col-md-10
        %h2.panel-title
          Attach Document
      .col-md-2
        .pull-right
          = shop_attachment.link_to_remove class: "remove_nested_fields" do
            %i.mdi-content-remove-circle-outline

  .panel-body
    .row
      .col-md-4
        .row
          .col-md-12
            = shop_attachment.file_field :document, class: 'simple-tooltip', title: "Upload your document. May be in pdf, doc, docx format? Someone can download this and read offline about your shop."
            = shop_attachment.hidden_field :document_cache
      .col-md-4
        = shop_attachment.text_field :name, class: 'simple-tooltip', title: "Give a name of this document, so that the customer can read and share that document with others."
      .col-md-4
        - if shop_attachment.object.document?
          .doc_label
            Document already uploaded as:
          = link_to shop_attachment.object.name, shop_attachment.object.document_url, :target => "_blank"
:javascript
    $.material.init();