%p
  = business_profile.contact_person
  %br
  = business_profile.helpline
  %br
  = business_profile.website
  %br
  = business_profile.address
  %br
  = business_profile.phone
  %br
  = business_profile.mobile
  %br