.container
  .row.top7
    .col-md-12
      %h1 Contact
      %p
        For any kind of query or help please e-mail as at:
        %strong
          autohuts@gmail.com.
        You can call us at:
        %strong
          +8801841082666.
-#= link_to("#", href: "#", rel: "tooltip", title: "Here you have to give your data.") do
-#  Bootstrap tooltip

-#      %p
-#        Scout Motor Parts Market (2nd Floor) 54, Inner Circular Road, Naya Paltan, Dhaka-1000, Bangladesh
-#      %p
-#        Phone: 01976-666545, 01841-082666, 01829-041699, 01199-206877
-#    .col-md-8
-#      #map{:style => "width: 800px; height: 400px;"}
-#  .row.top7
-#    .col-md-12
-#
-#:javascript
-#  handler = Gmaps.build('Google');
-#  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
-#    markers = handler.addMarkers([
-#          {
-#              lat: 23.734469,
-#              lng: 90.413696,
-#              infowindow: "Scout Motor Parts Market (2nd Floor) 54, Inner Circular Road, Naya Paltan 1000 Dhaka"
-#          }
-#      ]);
-#    handler.bounds.extendWith(markers);
-#    handler.fitMapToBounds();
-#    handler.getMap().setZoom(12)
  });
  /*$(document).ready(function() {
    markers = handler.addMarker([
          {
              lat: 23.734469,
              lng: 90.413696,
              infowindow: "Scout Motor Parts Market (2nd Floor) 54, Inner Circular Road, Naya Paltan 1000 Dhaka"
          }
      ]);
  });*/