body {
  color: #333333;
  background-color: #fff;
}

label.required:after {
  content: " *";
}

h2.title {
  margin: 0;
}

#header {
  /*border-top: 5px solid #00d6c8;*/
}

.header_top {
  background-color: #00d6c8;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-middle .container .row {
  border-bottom: none;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header-middle {
  background: none;
  border-bottom: 1px solid #009688;
}

.search_box input {
  /*background: #009688;
  border: medium none;*/
  background: #FFFFFF;
  border: 1px solid #009688;
  color: #B2B2B2;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 300px;
  background-image: image-url('home/searchicon.png');
  background-repeat: no-repeat;
  background-position: 270px;
}

.social-icons {
  background-color: #009688;
}

button.navbar-toggle {
  background-color: #009688;
}

.navbar-top-padding {
  padding-top: 2%;
}

.mainmenu ul li a {
  font-size: 16px;
}

ul.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #FFFFFF;
  /*border: thin solid #009688;*/
  border-top: 2px solid #00d6c8;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.navbar-nav li ul.sub-menu li a {
  color: #009688;
}

.navbar-nav li ul.sub-menu li a, .navbar-nav li ul.sub-menu li a:link, .navbar-nav li ul.sub-menu li a:hover, .navbar-nav li ul.sub-menu li a:active {
  text-decoration: none;
}

#footer {
  color: #FFFFFF;
}

.footer-widget .container {
  border-top: none;
  padding-top: 15px;
}

.footer-bottom {
  background: #00746a none repeat scroll 0 0;
  padding-top: 10px;
}

#footer h2 {
  color: #FFFFFF;
}

#footer ul li a, #footer ul li a:link, #footer ul li a:hover, #footer ul li a:active {
  color: #FFFFFF;
  background: none;
}

#footer input {
  color: #000000;
}

.login-form form select, .signup-form form select {
  background: #009688 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  display: block;
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.search_box input {
  color: #009688;
}

.shop-menu ul li a, .shop-menu ul li a:hover, .shop-menu ul li a:active {
  background: none;
}

.new {
  position: relative;
}

.update {
  background: none;
  border: none;
  border-radius: 0;
  color: #333333;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

.curved {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  behavior:url(border-radius.htc);
}


.img-block-shadow {
  padding: 3px;
  box-shadow: 0px 0px 7px #999999;
  margin: 0 0 10px 0;
}

.product-block {
  border: thin solid #CCCCCC;
  margin: 10px;
}

.product-image-bottom-border {
  border-bottom: thin solid #CCCCCC;
}

.col-center-block {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.product-information span input {
  border: 1px solid #DEDEDC;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.product-information p {
  color: #000000;
  font-family: "Roboto",sans-serif;
  margin-bottom: 5px;
}

/************************************************************************************************************/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.category_title {
  padding: 15px 0;
}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

hr.text-underline {
  margin-top: 1%;
  border-color: #FE980F;
}

.control-carousel {
  color: #c2c2c1;
  font-size: 60px;
  position: absolute;
  top: 40%;
}

#slider {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  /*added by T Morphy */
  /*from http://www.barrykooij.com/bootstrap-submenu-open-on-mouse-over/ to get hover behaviour on desktop */
  ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }
  ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    display: none;
  }
  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
    display: block;
  }
  .lead {
    font-size: 21px;
  }
}
/************************************************************************************************************/