/*
@media (max-width: 767px) {
    .mainmenu ul li {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 15px;
        padding-bottom: 0;
    }

    .mainmenu ul li a {
        color: #009688;
    }
}*/

.carousel-inner .item {
    marging: 0;
    padding: 0;
    text-align: center;
}

#similar-product .carousel-inner .item img {
    margin: 0;
}

.pagination-centered {
    text-align: center;
}