// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fields {
  border: 1px solid #009688;
  margin: 4px 0;
  padding: 4px;
}

button.mfp-close{
  color: #FFFFFF;
}

.productinfo p {
  color: #000000;
}

.single-products {
  border: 1px solid #CCCCCC;
  min-height: 300px;
}

.featured-single-products {
  border: 1px solid #cccccc;
}

.featured-single-products-text-container {
  height: 71px;
  background-color: #d7e5f1;
}

.featured-single-products-text-container h4 {
  margin:0;
  padding:0;
  padding-top: 15px;
}

.product-overlay {
  background: none;
  display: block;
  height: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  transition: height 500ms ease 0s;
  width: 100%;
}

.product-overlay .overlay-content {
  background: rgb(0,150,136) none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
}

.product-overlay .overlay-content, .product-overlay .overlay-content a, .product-overlay .overlay-content a:link, .product-overlay .overlay-content a:hover{
  color: #FFFFFF;
}

.view-product-list {
  border: 1px solid #f7f7f0;
  font-size: 16px;
}

.products.show #reviews textarea {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #000000;
}