// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  margin: 0;
  padding: 0;
}

.exclude-container-fluid-mergin {
  margin-left: -15px;
  margin-right: -14px;
}

.shops .nav-tabs {
  background-color: #245269;
}

.shop-image-wrapper{
  border:1px solid #CCCCCC;
  overflow: hidden;
  margin-bottom:30px;
}

.single-shops {
  position: relative;
  min-height: 320px;
}

.featured-single-shops {
  position: relative;
}

.featured-single-shops-text-container {
  height: 100px;
  background-color: #d7e5f1;
}

.featured-single-shops-text-container h4 {
  margin:0;
  padding:0;
  padding-top: 15px;
}

.shopinfo h2{
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.shopinfo p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.shopinfo img{
  width: 100%;
}

.shopinfo{
  position:relative;
}

.relative-position {
  position:relative;
}

.info-container {
  width: 100%;
  height: auto;
}

.social-share-button-position {
  float:right;
  margin-top: 10px;
}

.cover-photo-img-responsive {
  width: 100%;
  height: auto;
}
.shop-logo-img-responsive {
  width: 15%;
  height: auto;
  position:absolute;
  background:#FFFFFF;
  bottom: 3%;
  left: 1%;
}

.shop-name-responsive {
  width: 15%;
  height: auto;
  position:absolute;
  bottom: 8%;
  left: 17%;
  color: #FFFFFF;
}