%section#slider
  / slider
  #slider-carousel.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#slider-carousel"}
    .carousel-inner
      .item.active
        =image_tag "home/summary.jpg", class: 'girl img-responsive', alt: 'largest online automotives bangladesh'
    %a.left.control-carousel.hidden-xs{"data-slide" => "prev", :href => "#slider-carousel"}
      %i.fa.fa-angle-left
    %a.right.control-carousel.hidden-xs{"data-slide" => "next", :href => "#slider-carousel"}
      %i.fa.fa-angle-right
        / /slider