.fields
  .row
    .col-md-5
      = product_specification.text_field :name, class: 'simple-tooltip', title: 'Most of product has sepcifications. Like a car can have an attribute like, Color which is blue. So, in this field you need to put only the word, "Color"'
      %span
        Example: Color, Weight etc
    .col-md-5
      = product_specification.text_field :value, class: 'simple-tooltip', title: "Most of product has sepcifications. Like a car can have an attribute like, Color which is blue. So, in this field you need to put only the word, \"Blue\""
      %span
        Example: White, 20 kg etc
    .col-md-1.pull-right
      = product_specification.link_to_remove class: "remove_nested_fields" do
        %i.mdi-content-remove-circle-outline

:javascript
  $.material.init();