%h1
  Update Product
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title
            - if (not @shop.blank?)
              = @shop.name
              >
            - elsif (not @consumerProfile.blank?)
              = @consumerProfile.name
              >
            = @product.name
        .panel-body
          = render 'partials/products/form'