.row
  .col-md-4
    %h2
      - if @category
        = @category.name
      - else
        Products
  .col-md-8
    .row.pull-right
      .col-md-12
        - if params[:category].blank?
          = link_to "Only Shops", role_products_path(:product_type => ProductTypes::SHOP), :remote => true, class: 'btn btn-success'
          = link_to "Only Individuals", role_products_path(:product_type => ProductTypes::INDIVIDUAL), :remote => true, class: 'btn btn-success'
        -else
          = link_to "Only Shops", role_products_path(:product_type => ProductTypes::SHOP, :category => params[:category]), :remote => true, class: 'btn btn-success'
          = link_to "Only Individuals", role_products_path(:product_type => ProductTypes::INDIVIDUAL, :category => params[:category]), :remote => true, class: 'btn btn-success'
.row
  #products.features_items
    = render 'partials/products/products_listing', products: @products
  .col-sm-12
    #paginator
      = paginate @products, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-lg"