%h1
  New Product
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title
            - if (not @shop.blank?)
              Add a new product to shop >
              = @shop.name
            - elsif (not @consumerProfile.blank?)
              Add Product >
              = @consumerProfile.name
        .panel-body
          = render 'partials/products/form'