.row
  .col-md-12
    %h2
      Products from individuals
.row
  #products.features_items
    = render 'partials/products/products_listing', products: @products
  .col-sm-12
    #paginator
      = paginate @products, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-lg"