$("#products").html("#{escape_javascript(render 'partials/products/products_listing', products: @products)}");
$("#paginator").html("#{escape_javascript(paginate(@products, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-lg", :remote => true).to_s)}");