.row
  .col-sm-9.padding-right
  .product-details
    / product-details
    .col-sm-4
      #product-picture-container.view-product
        = render "partials/product_pictures/show", product_picture: @product.product_pictures.cover_image.first
      #similar-product.carousel.slide{"data-ride" => "carousel"}
        / Wrapper for slides
        .carousel-inner
          - @product.product_pictures.each_slice(5).with_index do|slice, index|
            = render "partials/product_pictures/carousel_inner", product_pictures: slice, index: index
        / Controls
        = render "partials/product_pictures/carousel_control"
    .col-sm-8
      .product-information
        .row
          %h1.col-md-4
            = @product.name
            = social_share_button_tag(@product.name)
          .product-rating
            .quality-rating.col-md-3
              Quality :
              = rating_for @product, ProductRatingTypes::QUALITY, :enable_half => true, :half_show => true, :cancel => true, :disable_after_rate => false, path:'assets'
            .price-rating.col-md-3
              Price :
              = rating_for @product, ProductRatingTypes::PRICE, :enable_half => true, :half_show => true, :cancel => true, :disable_after_rate => false, path:'assets'
        / /product-information
        %h2= @product.description
        %span
          %span
            = "#{@product.price_including_vat} #{CurrencyUnits::BANGLADESHI_TAKA}"
        %p
          - unless @product.shop_product.blank?
            - unless @product.shop_product.shop.blank?
              Shop:
              = link_to @product.shop_product.shop.name, shop_path(@product.shop_product.shop)
              %br
              Contact:
              = @product.shop_product.shop.mobile
          - else
            Contact:
            = @product.consumer_profile_product.consumer_profile.mobile
        - if user_signed_in? && policy(@product).edit?
          %h2= link_to "Edit", edit_product_path(@product)
  / /product-information
  / /product-details
  .category-tab.shop-details-tab
    / category-tab
    .col-sm-12
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#details"} Details
        %li
          %a{"data-toggle" => "tab", :href => "#specifications"} Specifications
        - unless @product.shop_product.blank?
          - unless @product.shop_product.shop.blank?
            %li
              %a{"data-toggle" => "tab", :href => "#companyprofile"} Company Profile
        %li.active
          %a{"data-toggle" => "tab", :href => "#reviews"}
            Reviews
            = "(#{@product.comment_threads.size})"
      .tab-content
        = render "partials/products/details", product: @product
        = render "partials/products/specifications", product: @product
        - unless @product.shop_product.blank?
          - unless @product.shop_product.shop.blank?
            = render "partials/products/company_profile", product: @product
        = render "partials/products/reviews", product: @product