.fields.panel
  .panel-heading
    .row
      .col-md-10
        %h2.panel-title
          Attach Document
      .col-md-2
        .pull-right
          = business_profile_attachment.link_to_remove class: "remove_nested_fields" do
            %i.mdi-content-remove-circle-outline

  .panel-body
    .row
      .col-md-4
        .row
          .col-md-12
            = business_profile_attachment.file_field :document, class: 'simple-tooltip', title: "You can upload pdf, doc, docx files to inform people about your business."
            = business_profile_attachment.hidden_field :document_cache
      .col-md-4
        = business_profile_attachment.text_field :name, class: 'simple-tooltip', title: "Give a name for your document so that everyone can see the name and understand about the doucment clearly."
      .col-md-4
        - if business_profile_attachment.object.document?
          .doc_label
            Document already uploaded as:
          = link_to business_profile_attachment.object.name, business_profile_attachment.object.document_url, :target => "_blank"
:javascript
    $.material.init();