%h1
  New Shop
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title
            Add a new shop
        .panel-body
          = render 'partials/create_shop/create_shop'