%h1 Update profile
.row
  .col-md-12
    .bs-component
      .panel.panel-primary
        .panel-heading
          %h1.panel-title Update profile
        .panel-body
          - if current_user.has_role? Roles::CONSUMER
            = render 'partials/update_profile/consumer'
          - elsif current_user.has_role? Roles::DEALER
            = render 'partials/update_profile/business'