!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "device-width", initial: {:scale => "1.0"}}
    %meta{:name => "description", :content => ""}
    %meta{:name => "author", :content => ""}
    %title Autohuts
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", :type => "text/javascript"}
    = csrf_meta_tags
    -#%link{:rel=>"autohuts icon", :href=>"images/ico/favicon.ico"}
    -#%link{:rel=>"apple-touch-icon-precomposed", :sizes => "144x144", :href=>"images/ico/apple-touch-icon-144-precomposed.png"}
    -#%link{:rel=>"apple-touch-icon-precomposed", :sizes => "114x114", :href=>"images/ico/apple-touch-icon-114-precomposed.png"}
    -#%link{:rel=>"apple-touch-icon-precomposed", :sizes => "72x72", :href=>"images/ico/apple-touch-icon-72-precomposed.png"}
    -#%link{:rel=>"apple-touch-icon-precomposed", :sizes => "72x72", :href=>"images/ico/apple-touch-icon-57-precomposed.png"}
  %body{class:"#{controller_name} #{action_name}" }
    .bs-component
      .panel.panel-primary
        %header#header
          / header
          .header-middle
            = render 'partials/navigations/main_menu'
          .header_top

          .header-middle
            .container-fluid
              .row
                .col-sm-9.col-sm-offset-2
                  = sorted_nested_li(Category.all, :lft)
                  = render :partial => 'partials/navigations/products_from_individuals_url', :locals => {products_from_individuals_path: products_from_individuals_path}
                  - unless user_signed_in?
                    = link_to("Create Your Shop Now!", new_user_registration_path, class: 'btn btn-md btn-raised btn-info')
          - flash.each do |type, message|
            .container-fluid
              .row
                .col-sm-12
                  = flash_messages
          / /header_top

        %section
          .container-fluid
            = yield

        %footer#footer
          / Footer
          .footer-widget
            .container
              .row
                .col-sm-2
                  .single-widget
                    %h2 About Autohuts
                    %ul.nav.nav-pills.nav-stacked
                      %li
                        %a{:href => ""} About US
                      %li
                        %a{:href => ""} Features
                      %li
                        %a{:href => ""} Plans
                .col-sm-2
                  .single-widget
                    %h2 Resourses
                .col-sm-2
                  .single-widget
                    %h2 Documentations
                .col-sm-2
                  .single-widget
                    %h2 Blog
                .col-sm-2
                  .single-widget
                    %h2 Support
                    %ul.nav.nav-pills.nav-stacked
                      %li
                        %a{:href => ""} FAQS
                      %li
                        %a{:href => ""} Contact Us
                      %li
                        %a{:href => ""} Terms & Conditions
                      %li
                        %a{:href => ""} Privecy Policy
                .col-sm-2
                  .single-widget
                    %h2 Social
                    %ul.nav.nav-pills.nav-stacked
                      %li
                        = link_to(image_tag(image_path("#{Defaults::FIND_US_AT_FACEBOOK}")), 'http://www.facebook.com/autohuts', target: '_blank')
          .footer-bottom
            .container-fluid
              .row
                %p.pull-left
                  Copyright ©
                  = Time.now.year
                  Autohuts. All rights reserved.

    :javascript
      $.material.init();