!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Autohuts
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://js.stripe.com/v2/'
    = csrf_meta_tags
  %body
    %p.notice
      = notice
    %p.alert
      = alert
    - if user_signed_in?
      %p
        Hello,
        = current_user.email
        = link_to "Sign out", destroy_user_session_path, :method => 'delete'
        %br/

    = yield
